<!-- Environment: Development -->
<appSettings>
  <!-- 
  Uncomment the line below to enable diagnostic logging for lo4net, you will 
  be able to see the output in DebugView (find in the "Tools" folder).
  -->
  <!--<add key="log4net.Internal.Debug" value="true"/>-->
  <add key="EnvironmentName" value="Development" />
</appSettings>